<%- include ('./partials/header.ejs')%>
<%- include ('./partials/homenavbar.ejs')%>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Blog</h1>
        <p class="lead">Um simples blog desenvolvido em Node.js</p>
        <hr class="my-4">
        <p>Desenvolvido por: Vinicius Lima</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Sobre</a>
        </p>
      </div>
    <% articles.forEach(article => { %>
    <div class="card">
        <div class="card-header">
            <h1><%=article.title%></h1>
        </div>
        <div class="card-body">
            <a btn="btn btn-dark" href="/articles/<%= article.slug %> ">Ler artigo</a>
        </div>
    </div> 
    <br>   
        <% }) %> 
</div>
    
</body>

<%- include ('./partials/footer.ejs')%>