<%- include("../../partials/header.ejs") %> <%-
include("../../partials/navbar.ejs") %>
<div class="container">
  <h2>Usuarios</h2>
  <a class="btn btn-dark" href="/admin/users/create">Criar novo usuario</a>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Senha</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
      <tr>
        <th><%= user.id %></th>
        <th><%= user.username %></th>
        <th><%= user.password %></th>
        <th>
          <a href="/users/edit/<%=user.id%>" class="btn btn-dark">Editar</a>
          <form
            method="POST"
            action="/users/delete"
            style="display: inline"
            onsubmit="deleteConfirmation(event, this)"
          >
            <input type="hidden" name="id" value="<%=user.id%>" />
            <button type="submit" class="btn btn-danger">Excluir</button>
          </form>
        </th>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<script>
  function deleteConfirmation(event, form) {
    event.preventDefault();
    let decision = confirm(
      "Deseja realmente excluir este usuario? A exclusão será permananente"
    );
    if (decision) {
      form.submit();
    }
  }
</script>

<%- include("../../partials/footer.ejs") %>
